<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Fraud Detection App</title>


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Navigation Bar-->
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/img/fraud_web_app_logo.png" alt="" width="64" height="64">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </div>
                <style>
                    .navbar-nav {
                        font-size: 24px;
                    }
                </style>
            </div>
    </nav>

</head>

<body>


    <div class="col-lg-8 mx-auto p-3 py-md-5">


        <h1>Get started with Bootstrap</h1>
        <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with
            this barebones example featuring some basic HTML and helpful links. Download all our examples to get
            started.</p>

        <div class="mb-5">
            <a href="../examples/" class="btn btn-primary btn-lg px-4">Download examples</a>
        </div>

        <hr class="col-3 col-md-2 mb-5">

        <div class="row g-5">
            <div class="col-md-6">
                <h2>Starter projects</h2>
                <p>Ready to beyond the starter template? Check out these open source projects that you can quickly
                    duplicate to a new GitHub repository.</p>
                <ul class="icon-list">
                    <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap
                            npm starter</a></li>
                    <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Guides</h2>
                <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
                <ul class="icon-list">
                    <li><a href="../getting-started/introduction/">Bootstrap quick start guide</a></li>
                    <li><a href="../getting-started/webpack/">Bootstrap Webpack guide</a></li>
                    <li><a href="../getting-started/parcel/">Bootstrap Parcel guide</a></li>
                    <li><a href="../getting-started/build-tools/">Contributing to Bootstrap</a></li>
                </ul>
            </div>
        </div>

        <footer class="pt-5 my-5 text-muted border-top">
            Jeff Johannsen &middot; &copy; 2021
        </footer>
    </div>


    <script src="../static/js/bootstrap.bundle.min.js"></script>


</body>

</html>